<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
    <h2>Select Task</h2>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <form method="GET" action="/admin/backup/transactions">
          <div class="form-group">
            <input class="btn btn-primary btn-lg" type="submit" value="Download Transactions">
          </div>
        </form>
      </div>
      <div class="col-sm-12 col-md-3">
        <form method="GET" action="/admin/backup/items">
          <div class="form-group">
            <input class="btn btn-primary btn-lg" type="submit" value="Download Items">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" 
          data-target="#delTransModal">Delete Transaction</button>
      </div>
      <div class="col-sm-12 col-md-3">
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" 
          data-target="#delItemsModal">Delete Items</button>
      </div>
    </div>
    <div class="modal fade" id="delTransModal" tabindex="-1" role="dialog" aria-labelledby="delTransModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delTransModalLabel">Request a hold</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Please backup transactions before you delete them.</b> Once deleted, they will not be recoverable.</p>
            <p>Are you sure you want to delete all transactions?</p>
            <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Cancel</button>
            <form method="POST" action="/admin/delete/transactions">
              <div class="form-group">
                <button class="btn btn-danger float-right" type="submit">Delete Transactions</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="delItemsModal" tabindex="-1" role="dialog" aria-labelledby="delItemsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delTransModalLabel">Request a hold</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Please backup items before you delete them.</b> Once deleted, they will not be recoverable.</p>
            <p><b>You must delete all transactions before deleting items.</b></p>
            <p>Are you sure you want to delete all items?</p>
            <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Cancel</button>
            <form method="POST" action="/admin/delete/items">
              <div class="form-group">
                <button class="btn btn-danger float-right" type="submit">Delete Items</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <%- include("../scripts") -%>
</body>
</html>
