<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
    <h2>Select Method</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/admin/users"></a>
          <div class="card-body">
            <h5 class="card-title">Manage Users</h5>
            <p class="card-text">Add, edit, and delete volunteers and admins</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/admin/history"></a>
          <div class="card-body">
            <h5 class="card-title">Transaction History</h5>
            <p class="card-text">See log of inventory transactions</p>
          </div>
        </div>
      </div>  
  <%- include("../scripts") -%>
</body>
</html>
