<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../components/baselinks") -%>
</head>
<body>
	<%- include("../components/header") -%>
	<div class="container">
    <%- include("../components/alerts") -%>
    <h1>Deletion Request Submitted</h1>
    <a href="/admin/backup" type="button" class="btn btn-primary">Back to Backup & Delete page</a>
  </div>
  <%- include("../components/scripts") -%>
</body>
</html>