<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("../baselinks") -%>
</head>

<body>
	<%- include("../header") -%>
	<div class="container">
		<h2>Enter an Item Manually</h2>
		<form action="/items" method="post">
			<div class="form-group">
				<label for="Item Name">Item Name: </label>
				<div class="input-group">
					<input name="name" class="form-control form-control-lg" type="text"
						placeholder="Ex. Campbell's Chicken Noodle Soup" required>
				</div>
			</div>
			<div class="form-group">
				<label for="Barcode">Barcode: </label>
				<div class="input-group">
					<input name="barcode" class="form-control form-control-lg" type="number" placeholder="Ex. 123456789098"
						required>
				</div>
			</div>
			<div class="form-group">
				<label for="Count">Count: </label>
				<div class="input-group">
					<input name="count" class="form-control form-control-lg" type="number" placeholder="Ex. 20" required>
				</div>
			</div>
			<div class="form-group">
				<label for="Description">Short Description:</label>
				<div class="input-group">
					<input name="description" class="form-control form-control-lg" type="text"
						placeholder="Ex. Gluten-free soup expiring 4/20/19" required>
				</div>
			</div>
			<div class="form-group">
				<button class="form-control btn-success btn-md float-middle" style="margin:px" type="action" value="Submit New Item">Submit New Item
				</button>
			</div>
		</form>
		<% if (response && response.error) {%>
			<div class="alert alert-danger">
				<%= response.error%>
			</div>
		<% } %>
	</div>
	<%- include("../scripts") -%>
</body>

</html>