<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
    <form>
      <div class="form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Search for an item">
      </div>
    </form>
  </div>
</body>
</html>
