<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
    <form action="/transactions/search">
      <div class="form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Search for an item">
		<button class="form-control btn-success btn-md" type="action"value="Confirm">Confirm
		</button>        
      </div>
    </form>
  </div>
</body>
</html>
