<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
    <div class="container">
    <form>
      <div class="form-group">
      	<label for="Item Name">Item Name: </label>
  	        <input class="form-control form-control-lg" type="text" 	placeholder="Ex. Campbell's Chicken Noodle Soup">
      	<label for="Barcode">Barcode: </label>
  	        <input class="form-control form-control-lg" type="text" 	placeholder="Ex. 123456789098">
      	<label for="Count">Count: </label>
  	        <input class="form-control form-control-lg" type="text" 	placeholder="Ex. 20">
      	<label for="Description">Short Description:</label>
       		<input class="form-control form-control-lg" type="text" placeholder="Ex. Gluten-free soup expiring 4/20/19">

		<input class=" form-control btn-default" type="submit" value="OK">
      </div>
    </form>
  </div>
</body>
</html>
