<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
    <h2>Select Method</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/entry/search"></a>
          <div class="card-body">
            <h5 class="card-title">Search Catalog</h5>
            <p class="card-text">Add existing item by name</p>
          </div>
        </div>
      </div>  
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/entry/manual"></a>
          <div class="card-body">
            <h5 class="card-title">Manual Entry</h5>
            <p class="card-text">Add a new item manually</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="app-scan">
    <form v-on:submit.prevent="callScanApi">
      <input v-model="scanCode" type="text" id="scanCode" name="scanCode" placeholder="scan an item" autofocus>
      <input type="submit" value="Scan">
    </form>

    <br>
    <form v-on:submit.prevent="submitItem">
      <label for="code">UPC code</label><br>
      <input v-model="code" type="text" id="code" name="code">
      <br><label for="item">Item name</label><br>
      <input v-model="item" type="text" id="item" name="item">
      <br><label for="size">Item size</label><br>
      <input v-model="size" type="text" id="size" name="size">
      <br><label for="quantity">Quantity</label><br>
      <input v-model="quantity" type="text" id="quantity" name="quantity">
      <br><input type="submit" value="Submit item">
    </form>

    <br>
    <pre>{{ result }}</pre>
  </div> -->
  <%- include("../scripts") -%>
</body>
</html>
