<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("../baselinks") -%>
</head>

<body>
	<%- include("../header") -%>
	<div class="container">
    <% if(response.success) { %>
      <div class="alert alert-success" role="alert">
        <p>Success! Preorder successfully resolved.</p>
      </div>
      <a href="/preorders/" type="button" class="btn btn-primary">Back to Preorders</a>
    <% } else {%>
      <div class="alert alert-danger" role="alert">
        <p>Sorry, there was an error with your request. Please try again later.</p>
      </div>
      <a href="/preorders/" type="button" class="btn btn-primary">Back to Preorders</a>
    <% } %>
  </div>
  <%- include("../scripts") -%>
</body>

</html>