<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
    <h1>Shreya turn this into a place to remove stuff</h1>
  </div>
</body>
</html>
