<% if(response && response.success) { %>
  <div class="alert alert-success" role="alert">
    <p><%= response.success %></p>
  </div>
<% } %>
<% if(response && response.error) { %>
  <div class="alert alert-danger" role="alert">
    <p><%= response.error %></p>
  </div>
<% } %>