<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div id="app-scan">
    <form v-on:submit.prevent="callScanApi">
      <input v-model="scanCode" type="text" id="scanCode" name="scanCode" placeholder="scan an item" autofocus>
      <input type="submit" value="Scan">
    </form>

    <br>
    <form v-on:submit.prevent="submitItem">
      <label for="code">UPC code</label><br>
      <input v-model="code" type="text" id="code" name="code">
      <br><label for="item">Item name</label><br>
      <input v-model="item" type="text" id="item" name="item">
      <br><label for="size">Item size</label><br>
      <input v-model="size" type="text" id="size" name="size">
      <br><label for="quantity">Quantity</label><br>
      <input v-model="quantity" type="text" id="quantity" name="quantity">
      <br><input type="submit" value="Submit item">
    </form>

    <br>
    <pre>{{ result }}</pre>
  </div>
</body>
</html>

<script type="text/javascript" src="static/scan.js"></script>
<script>
</script>

