<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
  <a href="/"><img src="/static/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item rounded">
        <a class="nav-link rounded" href="/">Home</a>
      </li>
      <% if(locals.userType) { %>
        <% if(userType == "volunteer" || userType == "admin") { %>
          <li class="nav-item rounded dropdown">
          <a class="nav-link rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visitor
          </a>
          <div class="dropdown-menu col-xs-12" aria-labelledby="navbarDropdown">
              <a class="nav-link rounded" href="/items">View Catalog & Preorder</a>
              <a class="nav-link rounded" href="/history">Your Orders</a>
          </div>
          </li>
          
          <li class="nav-item rounded dropdown">
          <a class="nav-link rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Volunteer
          </a>
          <div class="dropdown-menu col-xs-12" aria-labelledby="navbarDropdown">
              <a class="nav-link rounded" href="/entry">Manage Items</a>
              <a class="nav-link rounded" href="/preorders">Manage Preorders</a>
              <a class="nav-link rounded" href="/entry/import">Import Items</a>
          </div>
          </li>
      <% } %>
      <% if(userType == "admin") { %>
        <li class="nav-item rounded dropdown">
          <a class="nav-link rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
          </a>
          <div class="dropdown-menu col-xs-12" aria-labelledby="navbarDropdown">
              <a class="nav-link rounded" href="/admin/users">Manage Volunteers</a>
              <a class="nav-link rounded" href="/admin/history">Transaction History</a>
              <a class="nav-link rounded" href="/admin/backup">Backup & Delete Data</a>
          </div>
        </li>
      <% } %>
      <% if(userType == "user") { %>
        <li class="nav-item rounded">
        <a class="nav-link rounded" href="/items">View Catalog & Preorder</a>
        </li>
        <li class="nav-item rounded">
        <a class="nav-link rounded" href="/history">Your Orders</a>
        </li>
      <% } %>
    <% } else { %>
      <li class="nav-item rounded">
          <a class="nav-link rounded" href="/items">View Catalog & Preorder</a>
      </li>
      <li class="nav-item rounded">
          <a class="nav-link rounded" href="/history">Your Orders</a>
      </li>
    <% } %>
      <li class="nav-item rounded float-right">
        <a class="nav-link rounded" href="https://sso.unc.edu/idp/logout.jsp">Logout</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
