<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("baselinks") -%>
</head>
<body>
  <%- include("header") -%>
  <div class="container">
    <p>Hi <%= onyen %>. Welcome to Carolina Cupboard!</p>
    <% if(locals.userType) { %>
    <% if(userType == "admin") { %>
    <h2>Admin</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/admin/users"></a>
          <div class="card-body">
            <h5 class="card-title">Manage Users</h5>
            <p class="card-text">Add, delete, and edit volunteers and admins</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/admin/history"></a>
          <div class="card-body">
            <h5 class="card-title">Transaction History</h5>
            <p class="card-text">See the history of transactions</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% } %>
    <% if(userType == "volunteer" || userType == "admin") { %>
    <h2>Volunteer</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/entry"></a>
          <div class="card-body">
            <h5 class="card-title">Add & Remove Items</h5>
            <p class="card-text">Update item counts in the inventory</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/approve"></a>
          <div class="card-body">
            <h5 class="card-title">View Preorders</h5>
            <p class="card-text">Confirm and mark off completed preorders</p>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <% } %>
    <br>
    <h2>Your Account</h2>
    <div class="row justify-content-between">
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/items"></a>
          <div class="card-body">
            <h5 class="card-title">View Catalog</h5>
            <p class="card-text">Check out Carolina Cupboard's current inventory</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/cart"></a>
          <div class="card-body">
            <h5 class="card-title">Your Cart</h5>
            <p class="card-text">View your cart and place a preorder</p>
          </div>
        </div>
      </div>  
      <div class="col-md-4">
        <div class="card">
          <a class="card-link" href="/history"></a>
          <div class="card-body">
            <h5 class="card-title">Your Orders</h5>
            <p class="card-text">View your preorders and order history</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("scripts") -%>
</body>
</html>
