<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("baselinks") -%>
  <link href="index.css" rel="stylesheet">
</head>
<body>
  <%- include("header") -%>
  <div class="container-fluid">
    <h1>An ugly welcome page</h1>
    <ul>
    <li><a href="preorder">User: preorder.html</a></li>
    <li><a href="cart">User: cart.html</a></li>
    <li><a href="orderconfirm">User: orderconfirm.html</a></li>
    <li><a href="entry">Volunteer: Add item (will be hidden for users)</a></li>
    <li><a href="removal">Volunteer: Remove item (will be hidden for users)</a></li>
    <li><a href="approve">Volunteer: Approve a thing (will be hidden for users)</a></li>
    </ul>
  </div>
</body>
</html>
