/* CSS file for index.html */
/* Copyright 2019 Shreya Gullapalli */
:root{
  --white: hsl(360, 0%, 99%);
  --lightgray: hsl(80, 5%, 90%);
  --carolina: hsl(210, 50%, 70%);
  --darkgray: hsl(80, 5%, 35%);


  --body_font: Verdana, sans-serif;
  --body_font_size: 14px;
  /* use open sans maybe at some point*/
}

body{
  font: var(--body_font_size) var(--body_font);
  margin: 0;
}
.center-login{
  top:50%;
  left:50%;
  width: 20rem;
  background-color: var(--lightgray);
  margin: auto;
  text-align: center;
}

.navbar{
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--carolina);
  padding: 1.5rem;
  overflow: auto;
}
.navbar > *{
  position: fixed;
  right: 1rem;
  top: 0.5rem;
}
