.card-link {
  /* text-decoration: none;
  color: black;
  width: 30%; */
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.card {
  position: relative;
  /* display: inline-block; */
  /* width: 30%; */
}

.card:hover, .card:visited:hover, .card:focus, .card:visited:focus {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
}

.card-text {
  font-size: 0.8rem;
}

.row {
  margin-bottom: 15px;
}