.card-link {
  text-decoration: none;
  color: black;
  z-index: 1;
}

.card-link:link, .card-link:visited, .card-link:hover, .card-link:active {
  text-decoration: none;
  color: black;
}

.card {
  position: relative;
}

.card:hover, .card:visited:hover, .card:focus, .card:visited:focus {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.card-text {
  font-size: 0.8rem;
}

.row {
  margin-bottom: 15px;
}