body {
  width: 100vw;
  margin: 0;
  font-family: "Open Sans";
}

.navbar img {
  width: 100px;
}

.navbar {
  background: #5488c0;
  min-width: 100vw;
  min-height: 50px;
  margin-bottom: 10px;
}

.navbar .container-fluid {
  height: 100%;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-nav li {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  padding: 11px 15px 11px 15px;
  vertical-align: middle;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

.dropdown-menu {
  width: 100%;
  padding-left: 10px;
}

.dropdown-menu .nav-link {
  color: #5488c0;
}

.dropdown-menu .nav-link {
  text-shadow: none;
}

.nav-link:hover, .nav-link:visited:hover, .nav-link:focus, .nav-link:visited:focus {
  background: rgba(255, 255, 255, 0.5);
  transition: all .3s ease-in-out;
}

a:active, a:focus, a:hover {
  outline: 0;
  border: none;
  outline-style: none;
  -moz-outline-style: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white;
} 

input.pid::-webkit-outer-spin-button,
input.pid::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].pid {
  -moz-appearance: textfield;
}

td {
  max-width: 100px;
  word-wrap: break-word;
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  .toast-pos {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .toast-pos {
    position: absolute;
    top: 80px;
    right: 50px;
  }
}