body {
  width: 100vw;
  margin: 0;
  font-family: "Open Sans";
}

.navbar img {
  width: 100px;
}

.navbar {
  background: #5488c0;
  overflow: hidden;
  min-width: 100vw;
  min-height: 50px;
  margin-bottom: 10px;
}

.navbar .container-fluid {
  height: 100%;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-nav li {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  height: 100%;
  padding: 11px 15px 11px 15px;
  vertical-align: middle;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

.nav-item:hover, .nav-item:visited:hover, .nav-item:focus, .nav-item:visited:focus {
  background: rgba(255, 255, 255, 0.5);
  transition: all .3s ease-in-out;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white;
} 