<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("../components/baselinks") -%>
</head>

<body>
	<%- include("../components/header") -%>
	<div class="container">
    <%- include("../components/alerts") -%>
    <a href="/preorders/" type="button" class="btn btn-primary">Back to Preorders</a>
  </div>
  <%- include("../components/scripts") -%>
</body>

</html>